{
  "extends": ["airbnb", "airbnb/hooks"],
  "plugins": [],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/function-component-definition": [2, { "namedComponents": "arrow-function" }],
    "consistent-return": "off",
    "no-unused-expressions": ["error", {"allowShortCircuit": true, "allowTernary": true}],
    "no-underscore-dangle": "off"
  }
}
